<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>Nuevo Cargo</h1>
        </div>
        <div class="card-body">
          <%= render 'form', cargo: @cargo %>
        </div>
      </div>
      <div class="text-center mt-3">
        <%= link_to 'Volver', cargos_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>